:root{
    --secColor: rgb(235, 200, 0);
    --bgColor: rgba(0, 80, 0, 0.6);
}
html{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:300%;
}
body{
    margin: 0;
}
header{
    width: 100vw;
    height: 100vh;
}
footer{
    background-color: var(--bgColor);
}
h6{
    margin: 0;
    padding: 0;
}
p{
    margin: 0;
    padding: 0;
    font-size: 50%;
}
li{
    list-style-type: none;
    padding: 10px;
    font-size: 50%;
    transition-duration: 0.2s;
}
li:hover{
    scale: 1.1;
}
li:before{
    color: var(--secColor);
    font-size: xx-large;
    content: "✓ ";
}
.header{
    width: 100vw;
    height: 100vh;
}
.background{
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}
.about{
    display: flex;
    flex-direction: column;  
    gap: 5px;
}
.gameImg{
    width: 90vw;
    border-radius: 2vw;
    margin: 1vw;
    margin-left: 5vw;
    transition-duration: 0.2s;
}
.gameImg:hover{
    scale: 1.05;
}
.secLine{
    background-color: var(--secColor);
    margin-top: 0;
    margin-left: 3vw;
    margin-bottom: 3vw;
    width: 2em;
    height: 5px;
    border-radius: 2px;
    border:none;
}
.linkText{
    text-decoration: none;
    color: black;
}
.listborder{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: row;
    padding-left: 2vh;
    gap: 1vw;
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 8vh;
    /* border-left: 3px solid var(--secColor);
    border-radius: 15px; */
    width: fit-content;
    transition-duration: 0.2s;
}
.listborder:hover{
    scale: 1.2;
}
.padText{
    margin: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 3vw;
}
.content{
    display: flex;
    width: 50vw;
    height: 40vh;
    gap: 1vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 25vw;
    border: 10px solid rgb(233, 62, 32);
    background-color: rgba(231, 72, 44, 0.4);
    border-radius: 2vw;
    transition-duration: 0.2s;
}
.content:hover{
    scale: 1.05;
}
.head-text{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-container{
    display: flex;
    flex-direction: row;
    margin-top: 5vw;
    margin-left: 3vw;
    margin-bottom: 5vw;
    gap: 3vw;
}
.card{
    margin: 0;
    padding: 0;
    gap: 1vw;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-left: 3px solid var(--secColor);
    border-radius: 15px;
    transition-duration: 0.2s;
}
.card:hover{
    scale: 1.1;
}
.person{
    margin: 0;
    padding: 0;
    display: flex;
    gap: 5px;
    flex-direction: row;
}
.personImg{
    width: 2em;
    height: 2em;
    transition-duration: 0.2s;
}
.personImg:hover{
    scale: 1.05;
}
.logoImg{
    width: 1em;
    height: 1em;
}
.features-list{
    display: flex;
    flex-direction: row;
    margin-top: 3vw;
    margin-left: 1vw;
    margin-bottom: 3vw;
    gap: 2vw;
}
.layers_container{
    height: 100vh;
    transform-style: preserve-3d;
    will-change: transform;
}
.layers_item{
    position: absolute;
    background-size: cover;
    background-position: center;

}
.background{
    transform: translateZ(-50px) scale(1.1);
}
.head-text{
    transform: translateZ(80px) scale(0.8);
}
.hero{
    perspective: 1000px;
    overflow: hidden;

}